body{
    border:solid  rgb(21, 78, 184);
}

h1{
    background-color: rgb(45, 237, 12);
    margin-top: 10mm;
    padding: 5px;
    border: radius 50px; solid rgb(222, 60, 60);

    }

    button{
        background-color:rgb(14, 190, 46);
        border:solid  rgb(22, 228, 26);
        border-radius: 100px;
        color:white;
        font-size:20px;
    }
    input{
        border:solid  rgb(22, 148, 150);
        margin-left: 10mm;
        margin-top: 10mm;
        padding: 5px;

    }





